In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\admin\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\admin\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests) (1.26.11)

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Question 1: Write a python program to display all the header tags from wikipedia.org and make data frame.

In [5]:
##Answer 1
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(page.content)
header = []
for title in soup.find_all('span',class_="mw-headline"):
    header.append(title.text)
header_tags = pd.DataFrame({"Titles":header})
header_tags

                          Titles
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

Question 2: Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame

In [6]:
#Answer 2
website = requests.get("https://currentaffairs.adda247.com/list-of-presidents-of-india/")
download = BeautifulSoup(website.content)
Name = []
for details in download.find_all(width="220")[1:]:
    Name.append(details.text)
Start_date = []
for details in download.find_all(width="180")[1:]:
    Start_date.append(details.text)
Closing_date = []
for details in download.find_all(width="201")[1:]:
   Closing_date.append(details.text)
Presidents_detail = pd.DataFrame({'Name':Name, 'Start date':Start_date, 'Closing date':Closing_date})
Presidents_detail

                            Name       Start date      Closing date
0            Dr. Rajendra Prasad  26 January 1950       13 May 1962
1   Dr. Sarvepalli Radhakrishnan      13 May 1962       13 May 1967
2              Dr. Zakir Hussain      13 May 1967        3 May 1969
3        Varahagiri Venkata Giri       3 May 1969      20 July 1969
4        Varahagiri Venkata Giri   24 August 1969    24 August 1974
5           Fakhruddin Ali Ahmed   24 August 1974  11 February 1977
6           Neelam Sanjiva Reddy     25 July 1977      25 July 1982
7               Giani Zali Singh     25 July 1982      25 July 1987
8         Ramaswamy Venkataraman     25 July 1987      25 July 1992
9           Shankar Dayal Sharma     25 July 1992      25 July 1997
10      Kocheril Raman Narayanan     25 July 1997      25 July 2002
11        Dr. A.P.J. Abdul Kalam     25 July 2002      25 July 2007
12                Pratibha Patil     25 July 2007      25 July 2012
13              Pranab Mukherjee     25 July 2012      25 July 2017
14          Shri Ram Nath Kovind     25 July 2017      21 July 2022
15                Draupadi Murmu     21 July 2022           Working

Question 3: Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame- a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. b) Top 10 ODI Batsmen along with the records of their team andrating. c) Top 10 ODI bowlers along with the records of their team andrating.

In [9]:
## Answer 3 - a)
cricket_website = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
extract = BeautifulSoup(cricket_website.content)
ODI_team = []
for details in extract.find_all('span',class_="u-hide-phablet")[:10]:
    ODI_team.append(details.text)
ODI_matches_1 = []
for details in extract.find_all('td', class_="rankings-block__banner--matches"):
    ODI_matches_1.append(details.text)
ODI_matches_2 = []
for details in extract.find_all('td', class_="table-body__cell u-center-text")[:18]:
    ODI_matches_2.append(details.text)
Final_ODI_matches = ODI_matches_2[::2]
ODI_matches = ODI_matches_1 + Final_ODI_matches
ODI_Points_1 = []
for details in extract.find_all('td', class_="rankings-block__banner--points"):
    ODI_Points_1.append(details.text)
ODI_Points_2 = []
for details in extract.find_all('td', class_="table-body__cell u-center-text")[:19]:
    ODI_Points_2.append(details.text)
Final_ODI_Points = ODI_Points_2[1::2]
ODI_points = ODI_Points_1 + Final_ODI_Points
ODI_Ratings_1 =[]
for details in extract.find_all('td', class_="rankings-block__banner--rating"):
    ODI_Ratings_1.append(details.text.replace(" ","").replace("\n",""))
ODI_Ratings_2 = []
for details in extract.find_all('td', class_="table-body__cell u-text-right rating")[:9]:
    ODI_Ratings_2.append(details.text)
ODI_rating = ODI_Ratings_1 + ODI_Ratings_2
ODI_mens = pd.DataFrame({"Teams": ODI_team, "Matches": ODI_matches, "Points": ODI_points, "Rating": ODI_rating})
ODI_mens

          Teams Matches Points Rating
0      Pakistan      27  3,102    115
1         India      41  4,701    115
2     Australia      28  3,166    113
3  South Africa      24  2,551    106
4       England      28  2,942    105
5   New Zealand      31  3,110    100
6    Bangladesh      33  3,107     94
7     Sri Lanka      38  3,512     92
8   Afghanistan      21  1,687     80
9   West Indies      38  2,582     68

In [10]:
##Answer 3 - b)
batting_website = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
ODI_extract = BeautifulSoup(batting_website.content)
ODI_batsmen_1 = []
for details in ODI_extract.find_all('div', class_="rankings-block__banner--name-large"):
    ODI_batsmen_1.append(details.text)
ODI_batsmen_2 = []
for details in ODI_extract.find_all('td', class_="table-body__cell rankings-table__name name")[:9]:
    ODI_batsmen_2.append(details.text.replace('\n',""))
ODI_batsmen = ODI_batsmen_1 + ODI_batsmen_2
ODI_batsmen_team_1 = []
for details in ODI_extract.find_all('div', class_="rankings-block__banner--nationality"):
    ODI_batsmen_team_1.append(details.text.replace('\n',"").replace(" ", ""))
ODI_batsmen_team_2 = []
for details in ODI_extract.find_all('span', class_="table-body__logo-text")[:9]:
    ODI_batsmen_team_2.append(details.text.replace('\n',"").replace(" ", ""))
ODI_batsmen_team = ODI_batsmen_team_1 + ODI_batsmen_team_2
ODI_batsmen_rating_1 = []
for details in ODI_extract.find_all('div', class_="rankings-block__banner--rating"):
    ODI_batsmen_rating_1.append(details.text)
ODI_batsmen_rating_2 = []
for details in ODI_extract.find_all('td', class_="table-body__cell rating")[:9]:
    ODI_batsmen_rating_2.append(details.text)
ODI_batsmen_rating = ODI_batsmen_rating_1 + ODI_batsmen_rating_2
mens_batsmen = pd.DataFrame({"Batsmen":ODI_batsmen, "Team":ODI_batsmen_team, "Rating":ODI_batsmen_rating})
mens_batsmen

                 Batsmen Team Rating
0             Babar Azam  PAK    863
1           Shubman Gill  IND    759
2  Rassie van der Dussen   SA    745
3           David Warner  AUS    739
4            Imam-ul-Haq  PAK    735
5           Harry Tector  IRE    726
6        Quinton de Kock   SA    721
7            Virat Kohli  IND    715
8           Rohit Sharma  IND    707
9           Fakhar Zaman  PAK    705

In [12]:
##Answer 3 - c)
bowler_website = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
bowler_extract = BeautifulSoup(bowler_website.content)
ODI_bowler_1 = []
for details in bowler_extract.find_all('div', class_="rankings-block__banner--name-large"):
    ODI_bowler_1.append(details.text)
ODI_bowler_2 = []
for details in bowler_extract.find_all('td', class_="table-body__cell rankings-table__name name")[:9]:
    ODI_bowler_2.append(details.text.replace('\n',""))
ODI_bowler = ODI_bowler_1 + ODI_bowler_2
ODI_bowler_team_1 = []
for details in bowler_extract.find_all('div', class_="rankings-block__banner--nationality"):
    ODI_bowler_team_1.append(details.text.replace('\n',"").replace(" ", ""))
ODI_bowler_team_2 = []
for details in bowler_extract.find_all('span', class_="table-body__logo-text")[:9]:
    ODI_bowler_team_2.append(details.text)
ODI_bowler_team = ODI_bowler_team_1 + ODI_bowler_team_2
bowler_rating_1 = []
for details in bowler_extract.find_all('div', class_="rankings-block__banner--rating"):
    bowler_rating_1.append(details.text)
bowler_rating_2 = []
for details in bowler_extract.find_all('td', class_="table-body__cell rating")[:9]:
    bowler_rating_2.append(details.text)
rating = bowler_rating_1 + bowler_rating_2
df = pd.DataFrame({"Bowler":ODI_bowler, "Team": ODI_bowler_team, "Rating":rating})
df

             Bowler Team Rating
0    Josh Hazlewood  AUS    692
1    Mitchell Starc  AUS    666
2       Trent Boult   NZ    666
3        Adam Zampa  AUS    663
4        Matt Henry   NZ    658
5  Mujeeb Ur Rahman  AFG    657
6     Kuldeep Yadav  IND    656
7       Rashid Khan  AFG    655
8    Mohammed Siraj  IND    643
9    Shaheen Afridi  PAK    635

Question 4 - Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [13]:
##Answer - 4 a)
icc = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
download = BeautifulSoup(icc.content)
women_team = []
for details in download.find_all('span',class_="u-hide-phablet")[:10]:
    women_team.append(details.text)
women_matches_1 = []
for details in download.find_all('td', class_="rankings-block__banner--matches"):
    women_matches_1.append(details.text)
women_matches_2 = []
for details in download.find_all('td', class_="table-body__cell u-center-text")[:18]:
    women_matches_2.append(details.text)
Total_Matches = women_matches_2[::2]
matches = women_matches_1 + Total_Matches
women_points_1 = []
for details in download.find_all('td', class_="rankings-block__banner--points"):
    women_points_1.append(details.text)
women_points_2 = []
for details in download.find_all('td', class_="table-body__cell u-center-text")[:19]:
    women_points_2.append(details.text)
total_points = women_points_2[1::2]
points = women_points_1 + total_points
women_rating_1 = []
for details in download.find_all('td', class_="rankings-block__banner--rating"):
    women_rating_1.append(details.text.replace("\n", "").replace(" ", ""))
women_rating_2 = []
for details in download.find_all('td', class_="table-body__cell u-text-right rating")[:9]:
    women_rating_2.append(details.text)
rating = women_rating_1 + women_rating_2
df = pd.DataFrame({"Team":women_team, "Matches":matches, "Points":points, "Rating":rating})
df

           Team Matches Points Rating
0     Australia      26  4,290    165
1       England      31  3,875    125
2  South Africa      26  3,098    119
3         India      30  3,039    101
4   New Zealand      28  2,688     96
5   West Indies      29  2,743     95
6    Bangladesh      17  1,284     76
7     Sri Lanka      12    820     68
8      Thailand      13    883     68
9      Pakistan      27  1,678     62

In [14]:
## Answer 4 b)
batting_url = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
batting_extract = BeautifulSoup(batting_url.content)
women_batting_1 = []
for details in batting_extract.find_all('div', class_="rankings-block__banner--name-large"):
    women_batting_1.append(details.text.replace('\n',"").replace(" ", ""))
women_batting_2 = []
for details in batting_extract.find_all('td', class_="table-body__cell rankings-table__name name")[:9]:
    women_batting_2.append(details.text.replace('\n',""))
batting = women_batting_1 + women_batting_2
women_team_1 = []
for details in batting_extract.find_all('div', class_="rankings-block__banner--nationality"):
    women_team_1.append(details.text.replace('\n',"").replace(" ", ""))
women_team_2 = []
for details in batting_extract.find_all('span', class_="table-body__logo-text")[:9]:
    women_team_2.append(details.text)
team = women_team_1 + women_team_2
women_rating_1 = []
for details in batting_extract.find_all('div', class_="rankings-block__banner--rating"):
    women_rating_1.append(details.text)
women_rating_2 = []
for details in batting_extract.find_all('td', class_="table-body__cell rating")[:9]:
    women_rating_2.append(details.text)
rating = women_rating_1 + women_rating_2
df = pd.DataFrame({"Batsmen":batting, "Team":team, "Rating":rating})
df

               Batsmen Team Rating
0  NatalieSciver-Brunt  ENG    801
1          Beth Mooney  AUS    751
2  Chamari Athapaththu   SL    743
3      Laura Wolvaardt   SA    708
4      Smriti Mandhana  IND    708
5         Alyssa Healy  AUS    702
6     Harmanpreet Kaur  IND    694
7         Ellyse Perry  AUS    686
8          Meg Lanning  AUS    682
9      Stafanie Taylor   WI    618

In [15]:
##Answer 4 - c)
all_rounder = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
output = BeautifulSoup(all_rounder.content)
all_rounder_1 = []
for details in output.find_all('div', class_="rankings-block__banner--name-large"):
    all_rounder_1.append(details.text.replace('\n',"").replace(" ", ""))
all_rounder_2 = []
for details in output.find_all('td', class_="table-body__cell rankings-table__name name")[:9]:
    all_rounder_2.append(details.text.replace('\n',""))
all_rounder = all_rounder_1 + all_rounder_2
all_rounder_team_1 = []
for details in output.find_all('div', class_="rankings-block__banner--nationality"):
    all_rounder_team_1.append(details.text.replace('\n',"").replace(" ", ""))
all_rounder_team_2 = []
for details in output.find_all('span', class_="table-body__logo-text")[:9]:
    all_rounder_team_2.append(details.text)
team = all_rounder_team_1 + all_rounder_team_2
all_rating_1 = []
for details in output.find_all('div', class_="rankings-block__banner--rating"):
    all_rating_1.append(details.text)
all_rating_2 = []
for details in output.find_all('td', class_="table-body__cell rating")[:9]:
    all_rating_2.append(details.text)
rating = all_rating_1 + all_rating_2
df = pd.DataFrame({"All-Rounder":all_rounder, "Team":team, "Rating":rating})
df

           All-Rounder Team Rating
0  NatalieSciver-Brunt  ENG    398
1     Ashleigh Gardner  AUS    389
2      Hayley Matthews   WI    382
3       Marizanne Kapp   SA    362
4         Ellyse Perry  AUS    329
5          Amelia Kerr   NZ    328
6        Deepti Sharma  IND    312
7        Jess Jonassen  AUS    241
8        Sophie Devine   NZ    233
9             Nida Dar  PAK    217

Question 5 - Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-
i) Headline
ii) Time
iii) News Link

In [34]:
#Answer 5
news = requests.get("https://www.cnbc.com/world/?region=world")
fetch = BeautifulSoup(news.content)
headline = []
for details in fetch.find_all('a', class_="LatestNews-headline"):
    headline.append(details.text)
time = []
for details in fetch.find_all('time', class_="LatestNews-timestamp"):
    time.append(details.text)
news_links = []
for details in fetch.find_all('a', href=True)[223:265]:
    news_link = details['href']
    news_links.append(news_link.replace("/pro/", "").replace("/investingclub/", ""))
df = pd.DataFrame({"News Link":news_links})
df_cleaned = df[df['News Link'] != '']
News_link_1 = df_cleaned.values.tolist()
df = pd.DataFrame({"Headline":headline, "Time":time, "News Link":News_link_1})
df

,Headline,Time,News Link
0,Cramer: The 4 fears that are upsetting the mar...,27 Min Ago,[https://www.cnbc.com/2023/09/14/more-companie...
1,China's AI applications are coming — where it ...,2 Hours Ago,[https://www.cnbc.com/2023/09/17/cramer-4-fear...
2,The No. 1 personality trait linked to a long life,3 Hours Ago,[https://www.cnbc.com/2023/09/17/chinas-ai-app...
3,These are the 11 sectors of the S&P 500 — and ...,5 Hours Ago,[https://www.cnbc.com/2023/09/17/this-is-the-n...
4,"No. 1 tip for starting a side hustle, from 2 m...",5 Hours Ago,[https://www.cnbc.com/2023/09/17/the-11-sector...
5,"These are the top 10 states for young workers,...",6 Hours Ago,[https://www.cnbc.com/2023/09/17/rachel-jimene...
6,Why health insurance is poised to make inflati...,6 Hours Ago,[https://www.cnbc.com/2023/09/17/these-are-the...
7,Hollywood pays a steep price for never really ...,7 Hours Ago,[https://www.cnbc.com/2023/09/17/why-health-in...
8,"Disney asset sales won't break the bank, but t...",7 Hours Ago,[https://www.cnbc.com/2023/09/17/hollywood-str...
9,It’s been one year since the Ethereum merge. H...,7 Hours Ago,[https://www.cnbc.com/2023/09/17/disney-asset-...
10,Behind Warren Buffett's $100 billion-plus bet ...,7 Hours Ago,[https://www.cnbc.com/2023/09/17/its-been-one-...
11,One individual investor favorite has endured e...,7 Hours Ago,[https://www.cnbc.com/2023/09/17/buffett-calls...
12,"Stellantis offers raises, inflation protection...","September 16, 2023",[https://www.cnbc.com/2023/09/17/one-individua...
13,Strong retail sales despite stubborn inflation...,"September 16, 2023",[https://www.cnbc.com/2023/09/16/stellantis-of...
14,4 things the world's longest-living people do ...,"September 16, 2023",[https://www.cnbc.com/2023/09/16/strong-retail...
15,How Olipop's founders started a soda brand bri...,"September 16, 2023",[https://www.cnbc.com/2023/09/16/4-things-the-...
16,Here are three things we're watching in the ma...,"September 16, 2023",[https://www.cnbc.com/2023/09/16/how-olipops-f...
17,U.S. states where property taxes are highest—N...,"September 16, 2023",[https://www.cnbc.com/2023/09/16/here-are-thre...
18,The No. 1 thing successful parents who raise t...,"September 16, 2023",[https://www.cnbc.com/2023/09/16/us-states-whe...
19,Mark Cuban: If someone says they can make you ...,"September 16, 2023",[https://www.cnbc.com/2023/09/16/the-no-1-pare...
20,Top investor Jenny Harrington breaks down her ...,"September 16, 2023",[https://www.cnbc.com/2023/09/16/mark-cuban-if...
21,3 financial tips for couples moving in togethe...,"September 16, 2023",[https://www.cnbc.com/2023/09/16/top-investor-...
22,Analysts said obesity drugs would be blockbust...,"September 16, 2023",[https://www.cnbc.com/2023/09/16/3-financial-t...
23,Analysts see stocks like Microsoft offering 'd...,"September 16, 2023",[https://www.cnbc.com/2023/09/16/analysts-rais...
24,Stocks churn with the S&P 500 sitting at the s...,"September 16, 2023",[https://www.cnbc.com/2023/09/16/stocks-like-m...
25,We gave the $2.1 million Rimac Nevera electric...,"September 16, 2023",[https://www.cnbc.com/2023/09/16/stocks-churn-...
26,Trump lashes out at Jack Smith's bid for parti...,"September 15, 2023",[https://www.cnbc.com/2023/09/16/rimac-nevera-...
27,Cramer's Lightning Round: Sell Joby Aviation,"September 15, 2023",[https://www.cnbc.com/2023/09/15/trump-lashes-...
28,Cramer's week ahead: Pay attention to the Fede...,"September 15, 2023",[https://www.cnbc.com/2023/09/15/cramers-light...
29,Okta CEO on MGM breach: Companies are under 'm...,"September 15, 2023",[https://www.cnbc.com/2023/09/15/cramers-week-...

Question 6 -Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame-
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [20]:
#Answer 6
articles = requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
articles
AI = BeautifulSoup(articles.content)
AI
paper_title = []
for details in AI.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    paper_title.append(details.text)
len(paper_title)
authors = []
for details in AI.find_all('span', class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(details.text)
authors
published_date = []
for details in AI.find_all('span', class_="sc-1thf9ly-2 dvggWt"):
    published_date.append(details.text)
len(published_date)
paper_urls = []
for details in AI.find_all('a', href=True)[53:77]:
    paper_url = details['href']
    paper_urls.append(paper_url)
len(paper_urls)
df = pd.DataFrame({"Paper Title":paper_title, "Authors":authors, "Published Date":published_date, "Paper URL":paper_urls})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

Question 7 - Write a python program to scrape mentioned details from dineout.co.in and make data frame-
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [22]:
#Answer 7
dine = requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
dine
scrape = BeautifulSoup(dine.content)
scrape
restaurant_name = []
for details in scrape.find_all("a", class_="restnt-name ellipsis"):
    restaurant_name.append(details.text)
restaurant_name  
cuisine = []
for details in scrape.find_all("span", class_="double-line-ellipsis"):
    cuisine_details = details.text.split('|', 1)[1].strip()
    cuisine.append(cuisine_details)
cuisine    
location = []
for details in scrape.find_all('div', class_="restnt-loc ellipsis"):
    location.append(details.text)
location    
rating = []
for details in scrape.find_all('div', class_="restnt-rating rating-4"):
    rating.append(details.text)
rating    
image_url = []
for details in scrape.find_all('img', class_="no-img"):
    image_url.append(details["data-src"])
image_url   
df = pd.DataFrame({"Restaurant name":restaurant_name, "Cuisine":cuisine, "Location":location,"Ratings":rating, "Image URL":image_url})
df

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
6,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
7,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,The Barbeque Times,"North Indian, Continental, Chinese, South Indian","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...